# copied from haesleinheupf devbio-napari 
# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: tests

on: push

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
      - name: Conda info
        shell: bash -l {0}
        run: conda info
        
      - uses: tlambert03/setup-qt-libs@v1
        
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          python --version
          conda install -y pyopencl pocl
          python -m pip install --upgrade pip
          python -m pip install setuptools tox tox-gh-actions wheel pytest pytest-cov pytest-qt pyqt5
          pip install -e .
      - name: Test
        shell: bash -l {0}
        run: pytest -v --color=yes --cov=napari_lattice --cov-report=xml
      - name: Coverage
        uses: codecov/codecov-action@v1

  #deploy:
    # this will run when you have tagged a commit, starting with "v*"
    # and requires that you have put your twine API key in your 
    # github secrets (see readme for details)
    #needs: [test]
    #runs-on: ubuntu-latest
    #if: contains(github.ref, 'tags')
    #steps:
    #  - uses: actions/checkout@v2
    #  - name: Set up Python
    #    uses: actions/setup-python@v2
    #    with:
    #      python-version: "3.x"
    #  - name: Install dependencies
    #    run: |
    #      python -m pip install --upgrade pip
    #      pip install -U setuptools setuptools_scm wheel twine
    #  - name: Build and publish
    #    env:
    #      TWINE_USERNAME: __token__
    #      TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}
    #    run: |
    #      git tag
    #      python setup.py sdist bdist_wheel
    #      twine upload dist/*

