# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries
# For pytest-qt related fixes: https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions

name: tests

on:
  pull_request:
    paths-ignore:
      - "**/README.md"
      - "docs/**"
  push:
    paths-ignore:
      - "**/README.md"
      - "docs/**"

jobs:
  # ------------------------------------------------------------------
  # JOB 1: Install Core and test on Ubuntu (Linux - Ubuntu 22.04)
  # ------------------------------------------------------------------
  test-core:
    name: Core Tests (Ubuntu)
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      # Standard path for Linux linter
      - name: Save conda location
        run: echo "python=$(which python)" >> "$GITHUB_ENV"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.6.17"

      - name: Install core
        timeout-minutes: 10
        run: |
          # Install dependencies
          # We include types-PyYAML here too for linux linting consistency
          conda install -y pyqt pyopencl pocl pytest-qt 
          
          uv pip install --upgrade pip setuptools wheel
          uv pip install -e './core[testing]'

      - name: Lint core
        uses: ./.github/lint
        with:
          directory: core
          python: ${{ env.python }}

      - name: Test core
        run: pytest --verbose --verbose core/

      - name: Coverage
        uses: codecov/codecov-action@v5
        with:
          flags: core
  # ------------------------------------------------------------------
  # JOB 2: Install Plugin and test on Windows
  # ------------------------------------------------------------------
  test-plugin:
    name: Plugin Tests (Windows)
    runs-on:  ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"] #just run on 3.11 for windows for now
        os: [windows-latest]

    env:
      DISPLAY: ":0"
    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Save conda location
        run: echo "python=$(which python)" >> "$GITHUB_ENV"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.6.17"

      - name: Install core & plugin
        timeout-minutes: 10
        run: |
          conda install -y pyqt pyopencl pocl pytest-qt typing-extensions
          uv pip install --upgrade pip setuptools wheel
          # Install core and plugin
          uv pip install -e './core[testing]'
          uv pip install -e './plugin[testing]'
      
      # strategy borrowed from vispy for installing opengl libs on windows
      - name: Install Windows OpenGL
        run: |
          git clone --depth 1 https://github.com/pyvista/gl-ci-helpers.git
          powershell gl-ci-helpers/appveyor/install_opengl.ps1
          
      - name: Lint plugin
        uses: ./.github/lint
        with:
          directory: plugin
          python: ${{ env.python }}

      - name: Test plugin
        timeout-minutes: 10
        run: pytest -v --cov=plugin --cov-report=xml plugin

      - name: Coverage
        uses: codecov/codecov-action@v5
        with:
          flags: plugin
  # ------------------------------------------------------------------
  # JOB 3: Release on PyPI 
  # ------------------------------------------------------------------

  deploy:
    # run this job only for tag refs (e.g. refs/tags/v1.2.3)
    if: startsWith(github.ref, 'refs/tags/')
    needs: [test-core, test-plugin]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.6.17"
      - name: Install dependencies
        run: |
          uv pip install --system --upgrade pip setuptools wheel
          # Only install what's needed for building the package
          uv pip install --system ./core[deploy]
          uv pip install --system ./plugin

      - name: Build distributions
        run: |
          python -m build core
          python -m build plugin

      - uses: ncipollo/release-action@v1.18.0 #Create a release when tag is pushed
        name: Create GitHub release
        with:
          skipIfReleaseExists: true
          artifacts: "core/dist/*,plugin/dist/*"

      - name: Release on PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}
        run: |
          twine upload --skip-existing --non-interactive core/dist/*
          twine upload --skip-existing --non-interactive plugin/dist/*
