# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries
# For pytest-qt related fixes: https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions

name: tests

on:
  pull_request:
    paths-ignore:
      - "**/README.md"
  push:
    paths-ignore:
      - "**/README.md"

jobs:
  test:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"] #, "3.10", "3.12"
    
    env:
      DISPLAY: ":0"
    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
      
      - name: Conda info
        run: conda info

      - name: Save conda location
        run: echo "python=$(which python)" >> "$GITHUB_ENV"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          # Install a specific version of uv.
          version: "0.6.17"
        
      - name: Install core
        timeout-minutes: 10
        run: |
          conda install -y pyopencl pocl
          python --version
          uv pip install --upgrade pip setuptools wheel
          uv pip install -e './core[testing]'
          uv pip install aicsimageio

      #- name: Lint core
      #  uses: ./.github/lint
      #  with:
      #    directory: core
      #    python: ${{ env.python }}

      #- name: Test core
      #  run: pytest --verbose --verbose core/

      #- uses: tlambert03/setup-qt-libs@v1.8

      - name: Install plugin
        timeout-minutes: 10
        run: |
          uv pip install pytest-qt PyQt5
          uv pip install -e './plugin[testing]'
          uv pip install --upgrade aicsimageio "numpy<2" "zarr<3" "napari==0.5.5" "tifffile>=2023.3.15,<2025.2.18"

      #- name: Lint plugin
      #  uses: ./.github/lint
      #  with:
      #    directory: plugin
      #    python: ${{ env.python }}

      - name: Test plugin
        env:
          PYTHONPATH: ${{ github.workspace }}/core
        run: pytest -v --cov=plugin --cov-report=xml plugin

      - name: Coverage
        uses: codecov/codecov-action@v5
